@import "tailwindcss";

:root {
  --background: #ffffff;         /* canvas.default */
  --foreground: #1f2328;         /* fg.default */
  --muted-foreground: #656d76;   /* fg.muted */
  --card: #f6f8fa;               /* canvas.subtle */
  --border: #d0d7de;             /* border.default */
  --input: #ffffff;              /* canvas.default (inputs usually white) */
  --primary: #2da44e;            /* accent.fg (GitHub Blue) */
  --primary-foreground: #ffffff; /* white */
  --accent: #ddf4ff;             /* accent.subtle */
}

.dark {
  --background: #0d1117;         /* canvas.default */
  --foreground: #e6edf3;         /* fg.default */
  --muted-foreground: #7d8590;   /* fg.muted */
  --card: #161b22;               /* canvas.subtle */
  --border: #30363d;             /* border.default */
  --input: #0d1117;              /* canvas.default */
  --primary: #238636;            /* accent.fg (GitHub Blue) */
  --primary-foreground: #ffffff; /* white */
  --accent: #1f2428;             /* neutral.subtle (often used for hovers) */
}

@theme {
  --font-sans: 'Roboto', sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-accent: var(--accent);

  --animation-blob: blob 7s infinite;
  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}