@import "tailwindcss";

:root {
  --background: #f9fafb;      /* gray-50 */
  --foreground: #111827;      /* gray-900 */
  --muted-foreground: #4b5563; /* gray-600 */
  --card: #ffffff;            /* white */
  --border: #1e293b;          /* gray-200 */
  --input: #f9fafb;            /* gray-50 */
  --primary: #2563eb;          /* blue-600 */
  --primary-foreground: #ffffff; /* white */
  --accent: #bfdafd;         /* blue-100 */
}

.dark {
  --background: #020617;      /* slate-950 */
  --foreground: #f3f4f6;      /* gray-100 */
  --muted-foreground: #d1d5db; /* gray-300 */
  --card: #0f172a;            /* slate-900 */
  --border: #1e293b;          /* slate-800 */
  --input: #020617;            /* slate-950 */
  --primary: #60a5fa;          /* blue-400 */
  --primary-foreground: #0f172a; /* slate-900 */
  --accent: #1e293b;  /* slate-800 */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-accent: var(--accent);

  --animation-blob: blob 7s infinite;
  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}